// Config
@import "config/variables.scss";

// Components
@import "components/fonts.scss",
        "components/buttons.scss",
        "components/titles.scss",
        "components/grid.scss",
        "components/forms.scss",
        "components/tradedrawal.scss",
        "components/asideTrade.scss",
        "components/tables.scss",
        "components/antd-loading";

// Pages
@import "pages/carteira.scss",
        "pages/grafico.scss",
        "pages/verificacao.scss",
        "pages/pagamento.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    color: #FFF;
    // font-family: "sf-ui";
    font-family: 'Open Sans', sans-serif, Arial !important;
    font-size: .8rem !important;
    background-color: #1B1C3F !important;
    letter-spacing: 1px !important;
}

ul {
    list-style: none !important;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

input {
    outline: none;
}

.main {
    flex: auto;
    width: calc(100vw - 290px);
}

.header {
    background-color: #252a4d;
    padding: 0 1rem;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__button {
        cursor: pointer;
        margin-left: 1rem;
        opacity: .5;
        position: relative;
        color: #FFF;
        text-decoration: none;
        letter-spacing: -0.01em;
        height: 95%;
        display: flex;
        align-items: center;
        letter-spacing: -0.04rem;
        font-weight: 400;
        &--start {
            margin-right: auto;
        }
        &--select {
            opacity: 1;
            border-bottom: 2px solid #FFF;
            /*&::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #FFF;
                top: 2.4rem;
                left: 0;
            }*/
        }
    }
    &__button-bg {
        border: thin solid #FFF;
        opacity: .5;
        padding: .3rem;
        cursor: pointer;
        &--selected {
            background-color: #FFF;
            color: #1B1C3F;
        }
    }
    &__deposit {
        background-color: #1E1F42;
        padding: .5rem;
        opacity: 1;
        color: #474C73
    }
}

.sec-table {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    box-sizing: border-box;
}

.select-default {
    background-color: transparent;
    color: #FFF;
    opacity: .5;
    padding: .5rem 1rem;
    border-radius: 3px;
    outline: none;
    option {
        color: #FFF;
        background-color: #1B1C3F;
        opacity: .5;
    }
}

.screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.overlay-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1B1C3F;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
        height: 2rem;
        animation: rotation 5s infinite linear;
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.container-content {
    width: 94%;
    margin: 0 auto;
}

.link {
    color: inherit;
    text-decoration: none;
}

.seguranca {
    display: flex;
    border-bottom: thin solid rgba(255,255,255,.5);
    justify-content: space-between;
    margin-top: 2.3rem;
    padding-bottom: .3rem;
    align-items: center;
    &__h1 {
        font: {
            family: $primary-font;
            size: 0.9rem;
            weight: 700;
        }
        text-transform: uppercase;
        letter-spacing: -0.05em;
    }
    &__save {
        background-color: $primary-color;
        color: #FFF;
        padding: .5rem 1rem;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    &__input-content {
        width: 50%;
        margin-bottom: 2rem;
    }
    &__label {
        display: flex;
        margin-bottom: .5rem;
    }
    &__button {
        color: $primary-color;
        border: thin solid $primary-color;
        padding: .5rem 1rem;
        font-size: .7rem;
    }
    &__title {
        padding-bottom: .5rem;
        border-bottom: thin solid rgba(255,255,255,.3);
        margin-bottom: .5rem;
    }
    &__input {
        background-color: transparent;
        border: thin solid rgba(255,255,255,.3);
        color: rgba(255,255,255,.5);
        padding: .3rem 1rem;
    }
    &__inside-input {
        color: rgba(255,255,255,.5);
        position: absolute;
        top: .5rem;
        font-size: .65rem;
        right: .5rem;
    }
    &__content-flex {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    &__internal-content {
        width: 90%;
    }
}

.perfil {
    &__fig-img {
        height: 6rem;
        opacity: .5;
    }
    &__form {
        width: 16rem;
        display: flex;
        //justify-content: space-between;
        flex-wrap: wrap;
    }
    &__input {
        width: 5rem;
        margin-left: .3rem;
        flex:  auto;
        outline: none;
    }
}

/*.pagamento {
    &__list {
        display: flex;
        margin-top: 2rem;
        flex-wrap: wrap;
    }
    &__item {
        padding: 1rem;
        border: thin solid rgba(255,255,255,.3);
        width: 14rem;
        opacity: .5;
        margin-right: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        height: 6rem;
        &--selected {
            opacity: .8;
            border: thin solid $primary-color;
        }
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
    &__item-add {
        border: thin solid rgba(255,255,255,.3);
        padding: 1rem;
        width: 8rem;
        text-align: center;
        opacity: .5;
        cursor: pointer;
        height: 6rem;
        img {
            height: 1.5rem;
            text-align: center;
            padding: 1rem;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__simbol {
        height: 1rem;
        margin-left: auto;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__fig {
        height: 3rem;
    }
    &__num {
        text-align: right;
        margin-top: .5rem;
    }
    &__name {
        font-size: 1rem;
        font-weight: bold;
    }
}*/

.tooltip {
  background: #f1f1f1 !important;
  border-color: #222 !important;
  color: #000 !important;
  border-radius: 2px !important;
}

.overlay-deposito__input::-webkit-input-placeholder {
  color: rgba(0,0,0,.8) !important;
}
.overlay-deposito__input:-moz-placeholder {
  color: rgba(0,0,0,.8) !important;
}
.overlay-deposito__input::-moz-placeholder {
  color: rgba(0,0,0,.8) !important;
}
.overlay-deposito__input:-ms-input-placeholder {
  color: rgba(0,0,0,.8) !important;
}
