// Colors
$primary-color:   #55A7E5;
$secondary-color: #2F3A65;
$third-color:     #FF5B5B;
$four-color:      #333333;
$hover-color:     #2F3A65;

// Currencies
$bitcoint-color:  #f7931a;

// Buttons
$primary-button:  #55a7e5;

// Fonts
$primary-font:     'Open Sans';
