.verificacao {
    min-height: calc(100% - 200px);
    
    &__content {
        padding: 35px 0;
        &--inside {
            padding-bottom: 25px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap; 
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 30px;
    }

    &__item {
        padding: 15px 30px;
        margin-bottom: 20px;
        transition: all 0.2s ease-out;
        box-sizing: border-box;
        flex: 1 0 50%;
        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }
        @media screen and (max-width: 1280px) {
            flex: 1 0 100%;
        }

        &__icon {
            margin: 15px 25px 20px 0;
            float: left;
            fill: #55a7e5;
            &--pessoal {
                width: 70px;
                @media screen and (max-width: 1280px) {
                    margin-right: 40px;
                    margin-left: 17px;
                }
            }
            &--address {
                width: 100px;
                margin-top: 0;
            }
            &--documents {
                width: 100px;
                margin: 5px 10px  0 -15px;
                @media screen and (max-width: 1280px) {
                    margin-right: 23px;
                    margin-left: 2px;
                }
            }
        }

        &__title {
            font: {
                family: $primary-font;
                size: 1.6rem;
                weight: 400;
            }
            color: white;
            letter-spacing: -0.07em;

            span {
                position: relative;
                top: -5px;
                display: block;
                font-size: 60%;
                letter-spacing: -0.05em;
                text-transform: uppercase;
                opacity: 0.4;
            }
        }

        &__text {
            font: {
                size: 0.9rem;
                weight: 200;
            }
            letter-spacing: -0.05em;
            margin: 0 0 15px 0;
        }

        &__button {
            display: inline-block;
            padding-left: 35px;
            padding-right: 35px;
            margin-bottom: 5px;
        }

        &__status {
            display: flex;
            align-items: flex-start;
            padding-top: 5px;
            &__type {
                $normal-color: rgba(255, 255, 255, 0.3);
                $selected-color: #72bb46;
                margin-right: 20px;
                position: relative;
                letter-spacing: -0.05em;
                text-transform: uppercase;
                color: $normal-color;
                user-select: none;
                font: {
                    size: 0.7rem;
                    weight: 500;
                }
                &:before {
                    content: '';
                    position: relative;
                    top: 1px;
                    margin-right: 3px;
                    display: inline-block;
                    width: 9px;
                    height: 9px;
                    border: 1px solid $normal-color;
                }
                &:after {
                    display: none;
                    content: '✓';
                    position: absolute;
                    top: 0;
                    left: 1px;
                    font-size: 10px;
                }
                &.checked {
                    color: $selected-color;
                    &:before {
                        border-color: $selected-color;
                    }
                    &:after {
                        display: block;
                        color: $selected-color;
                    }
                }
            }
        }

    }

    &__form {
        padding-top: 1.2rem;
    }

    &__actions {
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 30px 55px;
    }

    &__view-document {
        color: rgba(255, 255, 255, 0.3);
        float: right;
        margin: 10px 0 0 0;
        letter-spacing: -0.04rem;
        transition: all 0.2s ease-out;
        font: {
            weight: 600;
            size: .7rem;
        }
        text: {
            transform: uppercase;
            decoration: none;
        }
        &:hover {
            color: white;
        }
    }

    &__preview {
        margin-top: 20px;
    }

    &__input {
        padding: 15px;
        transition: all 0.2s ease-out;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media screen and (max-width: 1100px) {
            flex-wrap: wrap; 
        }
        &--selfie {
            @media screen and (max-width: 1440px) {
                flex-wrap: wrap;
                > div {
                    flex: 1 0 100%;
                }
            }
        }
        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }
        input {
            top: -1px;
        }
        &__code {
            display: inline-block;
            padding: 0 20px;
            margin: 15px 0 0 0;
            background: rgba(255, 255, 255, 0.1);
            font: {
                size: 5rem;
                weight: 600;
            }
        }
        &__selfie {
            @media screen and (max-width: 1440px) {
                padding-top: 20px;
                float: right;
                display: none;
            }
            img {
                border-radius: 3px;
                border: 2px solid rgba(255, 255, 255, 0.25);    
                display: block;
            }
        }
        &__label {
            position: relative;
            @media screen and (max-width: 1440px) { 
                width: 100%;
            }
            @media screen and (max-width: 1100px) { 
                flex: 1 0 100%;
                margin-bottom: 10px;
            }
            font: {
                family: $primary-font;
                size: 1rem;
                weight: 600;
            }
            color: white;
            letter-spacing: -0.07em;
            small {
                font: {
                    weight: 400;
                    size: 0.8rem;
                }
                margin-top: -3px;
                display: block;
                color: #7e7c81;
            }
            strong {
                font-weight: 400;
                color: rgba(255, 255, 255, 0.65);
            }
            svg {
                position: absolute;
                width: 17px;
                right: -23px;
                top: 3px;
                cursor: pointer;
            }
        }
        &__large {
            width: 380px;
        }
        &__document {
            width: 317px;
            margin-bottom: 10px;
        }
        &__date {
            width: 120px;
        }
        &__country {
            width: 110px;
        }
        &__number {
            width: 260px;
        }
        &__loc {
            margin: 10px 10px 10px 0;
            width: 120px;
        }
        &__comp {
            width: 250px;
        }
        &__state {
            width: 260px;
        }
        &__city {
            width: 210px;
            margin: 10px 10px 0 0;
        }
        &__state {
            width: 160px;
        }
        .file-return {
            display: inline-block;
            margin: 0;
            width: 175px;
            height: 33px;
            line-height: 32px;
            background: transparent; 
            text-indent: -5px;
            padding-right: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.2s ease-out;
            color: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.15);
        }
        .input-file-trigger {
            position: relative;
            height: 20px;
            left: -1px;
            top: 0px;
            padding-top: 7px; 
            padding-bottom: 6px; 
            border-radius: 0 3px 3px 0;
        }
        .input-file:hover {
            + {
                .file-return {
                    border-color: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }

    &__drop {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        right: -235px;
        width: 213px;
        height: 213px; 
        color: rgba(255, 255, 255, 0.2);
        border: 2px dashed rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        transition: color 0.2s ease-out, border 0.2s ease-out;
        @media screen and (max-width: 1440px) {
            right: 0;
        }
        @media screen and (max-width: 1100px) { 
            position: relative;
            top: auto;
            right: auto;
            margin-top: 15px;
        }
        &:hover {
            color: rgba(255, 255, 255, 0.7);
            border-color: rgba(255, 255, 255, 0.7);
        }
        input,
        &__return {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0;
        }
        &__return {
            display: table;
            text-align: center;
            padding: 0 10px;
            opacity: 1;
            text-transform: uppercase;
            font: {
                size: 1.2rem;
                weight: 300;
            }
            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    &__docs {
        padding: 10px 0 0 0;
        color: $secondary-color;
        li {
            letter-spacing: -0.05em;
            margin-bottom: 5px;
        }
    }

}