.aside {
    width: 290px;
    min-height: 100vh;
    background-color: #22274B;
    // overflow-y: hidden;
    &__item-menu {
        width: calc(100% - 1.2rem);
        padding: .5rem 0 .5rem 1rem;
        border-left: medium solid $primary-color;
        margin-bottom: .5rem;
        letter-spacing: -0.03rem;
        font-weight: 300;
        cursor: pointer;
        &--selected {
            //background-color: #45577E;
            background-image: linear-gradient(to right, rgba(69, 87, 126, 1) 1%, rgba(69, 87, 126, .3));
        }
        &:hover {
            //background-color: #45577E;   
            background-image: linear-gradient(to right, rgba(69, 87, 126, 1) 1%, rgba(69, 87, 126, .3));
        }
    }
    &__button-switch {
        padding: .3rem;
        color: #FFF;
        border: thin solid #FFF;
        width: 50%;
        //transition: all .3s ease;
        &--selected {
            color: #2F3A65;
            background-color: #FFF;
            border-color: #FFF;
        }
    }
    &__container {
        padding: 1rem;
        border-bottom: 2px solid #1C2443;
        transition: display 0s linear, all .3s linear;
        position: relative;
        &--flex {
            display: flex;
        }
        &--no-border {
            border: none;
        }
        &--hide {
            max-height: 0;
            display: none;
        }
    }
    &__drop {
        margin-left: auto;
        img {
            height: .7rem;
        }
    }
    &__header {
        justify-content: center;
        display: flex;
        cursor: pointer;
    }
    &__logo {
        height: 2.3rem;
    }
    &__icon {
        height: 1rem;
        &--menu {
            margin-left: auto;
        }
    }
    &__item {
        display: flex;
        padding: .3rem;
        margin: .1rem 0;
        border-radius: 3px;
        &--selected {
            background-color: #2F3A65;
        }
        &--hover {
            &:hover {
                background-color: #2F3A65;
            }
        }
        &--cursor {
            cursor: pointer;
        }
    }
    &__label {
        width: 100%;
        margin-top: .5rem;
        padding-top: 4px;
    }
    &__right-txt {
        margin-left: auto;
        img {
            font-size: .6rem;
        }
    }   
    &__blue-txt {
        color: $primary-color;
        display: flex;
        align-items: center;
        img {
            height: .4rem;
            margin: 0 .2rem;
        }
    }
    &__red-txt {
        color: $third-color;
        display: flex;
        align-items: center;
        img {
            height: .4rem;
            margin: 0 .2rem;
        }
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: calc(100vh + 25rem);
        top: 3.5rem;
        left: 0;
        z-index: 1;
        background-color: darken(#1B1C3F, 3%);
        padding: .5rem 1rem;
        box-sizing: border-box;
        cursor: auto;
        &--hide {
            display: none;
        }
    }
    &__list {
        margin-top: .5rem;
    }
    &__button {
        display: block;
        margin-top: .6rem;
        width: 100%;
        border: thin solid #FFF;
        padding: .4rem 0 .3rem 0;
        transition: all .2s ease;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            background-color: #FFF;
            color: #22274B;
        }
    }
    &__header-but {
        display: flex;
        justify-content: space-around;
    }
    &__button-border {
        position: relative;
        font-weight: bold;
        opacity: .5;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            top: 1.75rem;
            left: 0;
            display: none;
        }
        &--active {
            &:before {
                display: block;
            }
        }
        &--white {
            color: #FFF;
            opacity: 1;
            &:before {
                background-color: #FFF;
            }
        }
        &--blue {
            opacity: 1;
            color: $primary-color;
            &:before {
                background-color: $primary-color;
            }
        }
        &--red {
            opacity: 1;
            color: $third-color;
            &:before {
                background-color: $third-color;
            }
        }
    }
    &__internal-content {
        background-color: #2F3A65;
        letter-spacing: 0;
    }
    &__form {
        padding: .5rem;
    }
    &__form-input {
        width: 100%;
        background-color: #22274B;
        border: none;
        color: #FFF;
        padding: .5rem;
        box-sizing: border-box;
        margin-top: .3rem;
        border-radius: 3px;
        transition: all .3s linear;
        border: 1px solid transparent;
        &.true,
        &.error {
            border-color: $third-color;
        }
        &--disabled {
            cursor: not-allowed;
            background-color: rgba(0,0,0,.05);
        }
    }
    &__form-item {
        margin-top: .5rem;
        display: flex;
        position: relative;
    }
    &__form-field {
        position: relative;
    }
    &__form-error {
        position: absolute;
        top: 9px;
        left: 100%;
        background: white;
        color: $third-color;
        border-radius: 3px;
        margin-left: 10px;
        letter-spacing: -0.03em;
        padding: 4px 16px;
        white-space: nowrap;
        z-index: 10;
        &:before {
            content: '';
            right: 100%;
            top: 50%;
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: transparent;
            border-right-color: white;
            border-width: 5px;
            margin-top: -5px;
        }
    }
    &__form-button {
        display: block;
        width: 100%;
        background-color: $primary-color;
        padding: .5rem 0 .4rem 0;
        font-weight: bold;
        margin-top: .5rem;
        font-size: .8rem;
        &--red {
            background-color: $third-color;
        }
    }
    &__no-orders {
        margin-top: 2rem;
        margin-left: 1rem;
        opacity: .5;
        font-size: .8rem;
    }
    &__list{
        list-style: none;
    }
    &__item{
        text-align: center;
        font-weight: 600;
        
    }
    &__input{
        background-color: #1B1C3F;
        border: none;
        padding: .5rem;
    }
    &__user{
        height: 1rem;
    }
    .espaco{
        margin-bottom: .5rem;
    }
}

.par-disabled {
    opacity: .3;
    text-decoration: line-through;
}