// Buttons

.primary-button {
    font: {
        family: $primary-font;
        weight: 600!important;
    }
    background: white;
    text-decoration: none;
    color: #9a9a9a;
    border: 1px solid transparent;
    letter-spacing: -0.03em;
    padding: 0.3rem 1rem 0.3rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: all 0.2s ease-out; 
    &:hover {
        color: darken(#9a9a9a, 10%);
    }

    &--text {
        padding: 0;
        color: $primary-color;
        background: transparent;
        &:hover {
            color: darken($primary-color, 10%);
        }
    }

    &--cancel {
        color: $third-color; 
        &:hover {
            color: darken($third-color, 10%);
        }
    }

    &--continue,
    &--upload,
    &--header {
        color: white!important;
        background: $primary-button!important;
        border-color: $primary-button!important;
        border-radius: 0!important;
        &:hover {
            color: white;
            background: darken($primary-button, 8%)!important;
            border-color: darken($primary-button, 8%)!important;
        }
    }
}
