.table-main{
    background-color: #262F55;
    padding-left: 1rem;
    width: 100%;
    font-size: .7rem;
    position: relative;
    letter-spacing: 0px;
    &--order {
        width: 60%;
    }
    &--trades {
        width: 37%;
    }
    &--saldo {
        width: 99%;
    }
    &__caption {
        display: flex;
        background-color: #2F3A65;
        width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
        height: 2.5rem;
        align-items: center;
    }
    &__inside {
        width: 100%;
        &--border {
            //padding-left: 1rem;
        }
    }
    th {
        text-align: left;
        padding: .5rem 0 1rem 0;
        &:first-child {
            &::before {
               content: "";
               position: absolute;
               width: 100%;
               height: 1px;
               background-color: #2F3A53;
               top: 2rem;
               left: 0;
            }
        }
        &.middle {
            &:after {
                content: "";
                position: absolute;
                height: calc(100% - 2rem);
                width: 1px;
                background-color: #2F3A53;
                top: 2rem;
                left: 49%;
            }
        }
    }
    &__azul {
        color: $primary-color;
        
    }
    &__red {
        color: $third-color;
        justify-content: space-around;
    }
    &__icon {
        width: .5rem;
    }
    &__cap-button {
        margin-left: auto;
        border: thin solid #FFF;
        padding: .2rem;
        //opacity: .5;
        border-radius: 3px;
        font-size: .7rem;
        &:hover {
            background-color: #FFF;
            color: #2F3A65;
        }
        &--selected {
            background-color: #FFF;
            color: #2F3A65;
            /*&:hover {
                background-color: #2F3A65;
                color: #FFF;
            }*/
        }
    }
    &__btns {
        margin-left: auto;
    }
    &__button {
        margin-left: 1rem;
        opacity: .5;
        position: relative;
        &--active {
            opacity: 1;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                top: 1.5rem;
                left: 0;
                background-color: #FFF;
            }
        }
    }
    
}

td{
    font-weight: bold;
}

.table-strip {
    margin-top: 2rem;
    &--half {
        width: 49%;
    }
    &__caption {
        font-weight: bold;
        //padding-bottom: .5rem;
        margin-bottom: .5rem;
        //border-bottom: thin solid rgba(255, 255, 255, .5);
        width: 99%;
    }
    &__act {
        border: thin solid #FFF;
        padding: .2rem;
        margin-left: .3rem;
        text-transform: uppercase;
    }
    &__table {
        width: 99%;
        border-collapse: collapse;
        th {
            text-align: left;
            opacity: .5;
            padding: .7rem 0;
            &:first-child {
                padding-left: 1rem;
            }
        }
        tr {
            &:nth-child(even) {
                background-color: #2A2C4D;
            }
        }
        td {
            padding: .5rem 0;
            &:first-child {
                padding-left: 1rem;
            }
        }
    }
    &__moedas {
        width: 99%;
        margin-top: .5rem;
        margin-bottom: .5rem;
        padding-bottom: .8rem;
        //border-bottom: thin solid rgba(255,255,255,.5);
    }
    &__moedas-button {
        padding: .3rem;
        border: thin solid #4E5E8C;
        color: #4E5E8C;
        margin-right: .5rem;
        &--selected {
            background-color: #4E5E8C;
            color: #FFF;
        }
        &:hover {
            background-color: #4E5E8C;
            color: #FFF;
        }
    }
}

.overlay-deposito {
    background-color: #FFF;
    border: thin solid #DDD;
    //padding: 1rem;
    color: #000;
    width: 600px;
    z-index: 1; 
    &__header {
        padding: 1rem 1.5rem;
        // text-transform: uppercase;
        border-bottom: thin solid #DDD;
        display: flex;
        letter-spacing: -0.05em;
        align-items: center;
        font-size: 1rem;
        background: #f8f8f8;
        color: $four-color;
    }
    &__footer {
        padding: 1rem 1.5rem;
        border-top: thin solid #DDD;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__close {
        margin-left: auto;
        img {
            height: .7rem;
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
                transform: rotate(45deg);
            }
        }
    }
    &__content {
        padding: 1.5rem;
    }
    &__wallet {
        background-color: #FFF;
        width: 100%;
        padding: 1rem;
        border: thin solid #DDD;
        box-sizing: border-box;
        display: flex;
    }
    &__input {
        background-color: #FFF;
        width: 100%;
        padding: .5rem 1rem;
        border: thin solid #DDD;
        box-sizing: border-box;
        display: flex;
        outline: none;
    }
    &__copy {
        height: 1rem;
        margin-left: auto;
    }
    &__container-input {
        margin-bottom: .5rem;
    }
    &__info {
        display: flex;
        margin-top: 1rem;
    }
    &__label {
        display: block;
        margin-bottom: .2rem;
        color: $four-color;
        font-size: .9rem;
        letter-spacing: -0.05em;
    }
    &__container-txt {
        width: 60%;
    }
    &__title {
        font-weight: lighter;
        margin-bottom: .3rem;
    }
    &__fig-qr-code {
        width: 40%;
        display: flex;
    }
    &__qr-code {
        height: 8.3rem;
        margin-left: auto;
    }
    &__p {
        margin-bottom: 1rem;
    }
    
    &__banks {
        font-family: $primary-font;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 0.5rem 0 1.5em 0;  
        &__item  {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18%;
            margin-right: 1.9%;
            height: 70px;
            cursor: pointer;
            margin-bottom: 15px;
            background: #f9f9f9;
            border: 1px solid transparent;
            border-radius: 3px;
            transition: all 0.2s ease-out; 
            &:hover {
                background: darken(#f9f9f9, 7%);
            }

            span {
                width: 55px;
                height: 55px;
                background: url('/static/img/bancos-state.png') 0 0 no-repeat;
            } 

            &--others {
                text-transform: uppercase;
                letter-spacing: -0.05em;
                font-weight: 700;
                color: darken(#f9f9f9, 40%);
                border-color: darken(#f9f9f9, 8%);
                margin-right: 0;    
                &:hover {
                    color: white;
                    background: $primary-button;
                    border-color: $primary-button;
                }
            }

            &--santander {
                span {
                    background-position: 0 -55px; 
                }
                &:hover, 
                &.selected {
                    background: #ff0201;
                    span {
                        background-position: 0 0; 
                    }
                }
            }

            &--itau {
                span {
                    background-position: 0 -165px; 
                }
                &:hover, 
                &.selected {
                    background: #fc9a04;
                    span {
                        background-position: 0 -165px; 
                    }
                }
            }

            &--caixa {
                span {
                    background-position: 0 -275px; 
                }
                &:hover, 
                &.selected {
                    background: #2e4589;
                    span {
                        background-position: 0 -220px; 
                    }
                }
            }

            &--bradesco {
                span {
                    background-position: 0 -385px; 
                }
                &:hover, 
                &.selected {
                    background: #eb1412;
                    span {
                        background-position: 0 -330px; 
                    }
                }
            }
        }
    }

    &__type {
        border-radius: 3px;
        color: $secondary-color;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -0.04em;
        font-weight: 600;
        margin: 0.7rem 0 1.5em 0!important;
        border: 1px solid $secondary-color;
        &__item {
            padding: 0.5rem;
            margin: -1px 0 0 0;
            cursor: pointer;
            transition: all 0.2s ease-out;
            &:hover,
            &--selected {
                color: white;
                background: $secondary-color;
            }
        }
    }
    &__docTed {
        display: flex;
        margin: 0.5rem 0 1.5em 0;
    }
    &__buttonTrans {
        width: 50%;
        padding: 0.7rem;
        border: thin solid $four-color;
        color: $four-color;
        &.selected {
            background-color: $four-color;
            color: #FFF;
        }
    }
    &__value {
        margin: 0.5rem 0 1rem 0;
        color: rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        &:focus {
            color: $four-color;
            border-color: $four-color;
        }
    }

    &__bar {
        $bar-size: 25px;
        box-sizing: border-box;
        display: flex;
        position: relative;
        width: 100%;
        height: $bar-size;
        align-items: center;
        background: #d4d4d4;
        &__current,
        &__container {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &__current {
            background: #4dc647;
            z-index: 0;
            transition: all 0.3s ease-out;
        }
        &__container {
            color: white;
            z-index: 1;
        }
        &__limit,
        &__value {
            box-sizing: border-box;
            padding: 4px 15px 3px 15px;
            text-transform: uppercase;
            height: $bar-size;
            letter-spacing: -0.035em;
        }
        &__limit {
            font-weight: 600;
            background: rgba(0, 0, 0, 0.2);
        }
        &__increase {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-decoration: none;
            color: $four-color;
            letter-spacing: -0.05em;
            font-weight: 600;
            padding: 0.7em 0;
            transition: all 0.2s ease-out;
            &:hover {
                color: darken($four-color, 20%);
            }
        }
        &__help {
            $button-size: 16px;
            width: $button-size;
            height: $button-size;
            color: white;
            background: rgba(0, 0, 0, 0.15);
            border-radius: 100%;
            position: absolute;
            transition: all 0.2s ease-out;
            top: 5px;
            right: 5px;
            z-index: 10;
            text-indent: 1px;
            text-align: center;
            font-weight: 700; 
            user-select: none;
            cursor: pointer;
            &:hover {
                background: $primary-button;
            }
        }
    }

    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &__item {
            width: 48%;
            background: #fdfdfd;
            border: 1px solid #ebebeb;
        }
        &__name {
            background: #f3f3f3;
            color: $four-color;
            font-size: 0.9rem;
            font-weight: 700;
            letter-spacing: -0.05em;
            padding: 0.5rem 0.6rem;
            border: 0;
            text-transform: uppercase;
            border-bottom: 1px solid #ebebeb;
        }
        &__list {
            padding: 0.6rem 0 0 0.6rem;
            li { 
                margin-bottom: 0.6rem;
                color: #8d8f98;
                min-height: 33px;
                letter-spacing: -0.05em;
                span {
                    display: block;
                    font-size: 0.7rem;
                    font-weight: 700;
                    letter-spacing: -0.05em;
                    color: $four-color;
                    text-transform: uppercase;
                }
            } 
            &--inline {
                padding-top: 0;
                display: flex;
                li {
                    min-width: 80px;
                }
            }
        }
    }

    &__warning,
    &__files {
        padding: 1rem 0 0 0;
        &__title {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: -0.05em; 
        }
    }

    &__warning {
        &__title {
            color: #c72222;
        }
        &__list {
            padding: 0.5rem 0 0 0;
            letter-spacing: -0.05em;
            li {
                margin-bottom: 0.4rem;
            }
        }
    }

    &__files {
        padding: 1rem 0 0 0;
        &__title {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: -0.05em;
            color: $four-color;
            margin-bottom: 15px;
        }
        &__list {
            padding: 0.5rem 0 0 0;
            letter-spacing: -0.05em;
            li {
                margin-bottom: 0.4rem;
            }
        }
        .file-return {
            margin: 0;
            height: 31px;
            color: $secondary-color;
        }
    }



}
  
  
  
  
   

.table-saldo {
    background-color: #252a4d;
    width: 99%;
    border-collapse: collapse;
    //table-layout: fixed;
    position: relative;
    th {
        text-align: left;
        padding: .5rem 0;
        margin-bottom: .5rem;
        border-bottom: thin solid darken(#252a4d, 10%);
        &:first-child {
            padding-left: 1rem;
            /*&:before {
                content: "";
                position: absolute;
                width: calc(100% - 1rem);
                height: 1px;
                top: 1.9rem;
                left: .5rem;
                background-color: darken(#252a4d, 10%);
            }*/
        }
    }
    td {
        padding: .7rem 0;
        &:first-child {
            padding-left: 1rem;
        }
    }
    &__tr-header {
        background-color: #2F3A65;
        padding: .5rem;
    }
    &__button {
        border: thin solid #FFF;
        margin-right: .7rem;
        padding: .3rem .7rem;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        transition: all .3s ease;
        font-size: .7rem;
        img {
            height: 1rem;
            margin-right: .5rem;
        }
        &:hover {
            opacity: .8;
        }
    }
    &__txt-opac {
        opacity: .5;
    }
    &__moeda {
        display: flex;
        align-items: center;
        span {
            font-size: 1rem;
            width: 30px;
            //margin-right: .7rem;
        }
    }
    &__percent {
        width: 5rem;
        height: .3rem;
        background-color: #263642;
        margin-top: .3rem;
    }
    &__percent-inner {
        background-color: $primary-color;
        height: 100%;
    }
}